<%- include('common/header',{title:'Recipe'}) %>
<!-- This file is used to display specific dish detail. -->
<div class="container mt-4">
  
  <!-- If API returns result it will check for its data -->
  <% if (recipeData && recipeData.hits.length > 0) { %> <%
  recipeData.hits.forEach(hit => { %>
  <div class="card mb-4 card-color">
    <h1 class="card-title text-center mt-4"><%= hit.recipe.label %></h1>
    <div class="row g-0">
      <div class="col-md-4">
        <!-- hit.recipe.label returns name of dish 
            hit.recipe.image returns image of dish
            -->
        <img
          src="<%= hit.recipe.image %>"
          class="img-fluid rounded-start"
          alt="Recipe Image"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <!-- Source of the dish -->
          <p class="card-text small">
            <strong>Source:</strong>
            <a href="<%= hit.recipe.url %>" style="text-decoration: none"
              ><%= hit.recipe.source %></a
            >
          </p>
          <!-- Origin of the dish -->
          <p class="card-text small">
            <strong>Dish Origin:</strong>
            <span class="badge bg-primary"><%= hit.recipe.cuisineType %></span>
          </p>
          <!-- Diet Labels -->
          <% if (hit.recipe.dietLabels && hit.recipe.dietLabels.length > 0) { %>

          <p class="card-text small">
            <strong>Diet Labels:</strong> <%
            hit.recipe.dietLabels.forEach(dietLabel => { %><span
              class="badge bg-dark me-1"
              ><%= dietLabel %></span
            ><% }); %> <% } %>
            <!-- Health Labels -->
            <% if (hit.recipe.healthLabels && hit.recipe.healthLabels.length >
            0) { %>
          </p>

          <p class="card-text small">
            <strong>Health Labels:</strong> <%
            hit.recipe.healthLabels.forEach(healthLabel => { %><span
              class="badge bg-success me-1"
              ><%= healthLabel %></span
            ><% }); %>
          </p>
          <% } %>
          <!-- Cautions -->
          <% if (hit.recipe.cautions && hit.recipe.cautions.length > 0) { %>

          <p class="card-text small">
            <strong>Cautions:</strong> <% hit.recipe.cautions.forEach(caution =>
            { %><span class="badge bg-danger me-1"><%= caution %></span><% });
            %>
          </p>
          <% } %>
          <!-- Prepare Time -->
          <p class="card-text small">
            <strong>Prepare Time:</strong> <%= hit.recipe.totalTime %> minutes
          </p>
          <!-- Type of Meal -->
          <p class="card-text small">
            <strong>Type of Meal:</strong> <%= hit.recipe.mealType %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-color table-responsive">
    <!-- <div class="card-body"> -->
    <h2 class="card-title mt-4 text-center">Ingredients</h2>
    <table class="table table-color">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Unit</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% hit.recipe.ingredients.forEach((ingredient, index) => { %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= ingredient.food %></td>
          <td><%= ingredient.quantity %> <%= ingredient.measure %></td>
          <td>
            <a href="/findingredient/<%= encodeURIComponent(ingredient.food) %>"
              >View Stores</a
            >
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <!-- </div> -->
  </div>
  <% }); %> <% } else { %>
  <p>No results found.</p>
  <% } %>
</div>

<%- include('common/footer') %>
