<%- include('common/header',{title:'List of Recipes'}) %>

<div class="container mt-4">
  <% if (recipeData && recipeData.hits.length > 0) { %>
  <h1 class="mb-4">Showing results for <%= recipeData.q %></h1>
  <div class="row">
    <% for (let i = 0; i < recipeData.hits.length; i++) { %> <% const recipe =
    recipeData.hits[i].recipe; %>
    <div class="col-md-4 mb-4">
      <div class="card h-100 card-color">
        <div class="card-body">
          <h3 class="card-title recipe-card-title h5 mb-3">
            <%= recipe.label %>
          </h3>
          <a href="/recipe/<%= encodeURIComponent(recipe.label) %>">
            <img
              src="<%= recipe.image %>"
              class="img-fluid"
              alt="Recipe Image"
            />
          </a>

          <div class="row mt-2">
            <div class="col">
              <p class="card-text mb-2 small">
                <strong>Calories:</strong>
                <span class="calories-value"
                  ><%= recipe.calories.toFixed(2) %> kcal</span
                >
              </p>
            </div>
            <div class="col">
              <p class="card-text mb-2 small">
                <strong>Total Ingredients:</strong>
                <span class="ingredients-value"
                  ><%= recipe.ingredients.length %></span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <% } else { %>
  <p>No results found.</p>
  <% } %>
</div>

<%- include('common/footer') %>
